:root {
    --font-open: 'Open Sans', sans-serif;
    --font-mulish: ''Mulish', sans-serif;'
}
body{
    margin: 0;
    font-family: var(--font-open);
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page {
    width: 1280px;
    margin: 0 auto;
    padding-top: 65px;
}
h1 {
     /*ou usando uma quebra de linha*/
    font-family: var(--font-mulish);
    color: #1F1534;
    font-size: 46px;
    line-height: 56px;
    font-weight: normal; /* removendo o negrito*/ 
    width: 490px;
}
h1 span {
    color: #89c5cc;
    font-weight: bold;
}

section p {
    color: #7d7987;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
    width: 438px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
ul {
    list-style: none;
    display: flex;
    gap: 48px;
}
a {
    color: #1F1534;
    text-decoration: none;
}
ul li a  {
    opacity: 0.5;
}
/* psseudoclass*/
a:hover{
    font-weight: bold;
    border-bottom: 1px solid #1F1534;
    opacity: 1;
}



button {
    color: #F9F9F9;
    background: #69b99d;
    border: none;
    border-radius: 4px;
    font-family: var(--font-open);
    text-transform: uppercase;
    
    display: flex;
    align-items: center;

    padding: 14px 32px 15px 32px;
    gap: 10px;
    cursor: pointer;
}
button:hover{
    background: #3d9b7a;
}


#balls {
    position: fixed;
    right: 0;
    bottom: 0;

}

footer {  /* aqui moveu o footer para baixo*/
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    margin-top: 80px;
}
footer a {
    color: #1F1534;
    font-weight: bold;
}


/* responsividade */

@media (max-width:730px) {
    .page {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        padding: 20px;

    }
    main {
        display: flex;
        flex-direction: column;
    }

    .text {
        text-align: center;
    }

    button {
        margin-left: 10px;
    }

    img {

    }

    nav {
        margin: 0 auto;

    }
    
}