

:root {
    --font-open: 'Open Sans', sans-serif;
    --font-mulish: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    font-family: var(--font-open);
    
}

.page {
    width: 1008px;
    margin: 65px auto;
}
h1 {
    width: 490px; /*ou usando uma quebra de linha*/
    font-family: var(--font-mulish);
    color: #1F1534;
    font-size: 46px;
    line-height: 56px;
    font-weight: normal; /* removendo o negrito*/ 
}
h1 span {
    color: #89c5cc;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
ul {
    font-family: var(--font-mulish);
    list-style: none;
    display: flex;
    gap: 48px;
}
ul li a {
    color: #1F1534;
    text-decoration: none;
}
/* psseudoclass*/
ul li a:hover{
    font-weight: bold;
    border-bottom: 1px solid #1F1534;
}

section p {
    color: #7d7987;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



button {
    font-size: var(--font-open);
    text-transform: uppercase;
}

footer {
    font-size: 14px;
    line-height: 28px;
}
footer a {
    color: #1F1534;
    text-decoration: none;
    font-weight: bold;
}